RESEND_API_KEY=your_resend_api_key_here
RESEND_FROM_EMAIL="Latchwork Consulting <noreply@latch-work.com>"
RESEND_TO_EMAIL=hello@latch-work.com

GOOGLE_SERVICE_ACCOUNT_EMAIL=your_service_account@your_project.iam.gserviceaccount.com
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=your_service_account_private_key_here
GOOGLE_SHEET_ID=your_google_sheet_id_here
