STATICFORMS_ACCESS_KEY=your_staticforms_access_key_here
STATICFORMS_ACCESS_KEY_FALLBACK=your_second_staticforms_access_key_here
STATICFORMS_INTERVIEW_ACCESS_KEY=your_staticforms_access_key_for_interviews_here
STATICFORMS_INTERVIEW_ACCESS_KEY_FALLBACK=your_second_staticforms_access_key_for_interviews_here
